</br>
<table style="background-color: #FF8000; text-align:center; width: 100%;">
	<tr>
		<td style="text-align:center;">
			</br>
			<h5 style="color: white;">Suscríbete a farmaenlineard y descubre las mejores ofertas.</h5>
			<form>
			  <div class="row" style="align: center;">
				<div class="column">
			      <div class="column">
					<input type="text" placeholder="Escribe tu email">
				  </div>
				  <div class="column" style="align: left">
					<a class="small button" href="#0" style="color: white;">Suscríbeme</a>
				  </div>
				 </div>
			  </div>
			</form>
			<hr>			
			</br>
			</br>
			<h5 style="color: white;">Copyright © 2010-2017 farmaenlineard.</h5>
			</br>
			</br>
		</td>
	</tr>
</table>
