<footer class="row" style="background-color: #FF8000;">
	<div class="row">
		</br>
		<h5 style="color: white;">Suscríbete a farmaenlineard y descubre las mejores ofertas.</h5>
	</div>
	<form>
	  <div class="row">
	  	<div class="small-4 columns">.
		</div>
		<div class="medium-4 columns">
			<input type="text" placeholder="Escribe tu email...">
		</div>
		<div class="small-4 columns"> .
		</div>
	  </div>
	 <div class="row">
	  	<div class="small-4 columns">.
		</div>
		<div class="medium-4 columns">
			<a class="small button" href="#0" style="color: white;">Suscríbeme</a>
		</div>
	  	<div class="small-4 columns">.
		</div>
	</div>

	</form>	

	<div class="row">
			<hr>			
			</br>
			<h5 style="color: white;">Copyright © 2017 farmaenlineard.</h5>
			</br>
			</br>
	</div>
</footer>

