
<style type="text/css">
label{color: white;}
div{text-align: center}

body{
    background-image: url(https://dl.dropboxusercontent.com/s/v79ikndshbgi0wz/background-home.jpg);

	background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 -10px;
    background-size: cover;
    height: 100% !important;
    width: 100% !important;
    z-index: -10;
    //position: fixed;
    top: 0;
	background-color: transparent;
}

</style>

</br>
</br>
<div id="logo" style="text-align:center;">
<%=link_to image_tag("logohead.png", border: 0), {action: 'home', controller: 'pages'}%>
</div>

<%=render "pages/search-filter"%>
 
<section class="section_light" style="background-color: white; border: solid #dddddd;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;">
  <div class="row">
	<h3>Ordena tus medicamentos en línea dentro de una gran variedad de farmacias.</h3>
  </div>

  <div class="row">
	<p>Busca...  Ordena...  Recíbelo desde el confort de tu casa.</p>
  </div>
  
  <div class="row">
	<h5>Usar nuestra plataforma es completamente gratis!<h5>
  </div>
 
</section>


